body {
  background: linear-gradient(
      rgba(135, 60, 255, 0.4),
      rgba(135, 60, 255, 0) 80%
    ),
    linear-gradient(
      -45deg,
      rgba(120, 155, 255, 0.9) 25%,
      rgba(255, 160, 65, 0.9) 75%
    );

  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 50%;
  padding: 0px 1em;
  /*background: #777;*/
}

.header {
  padding: 0 0.7em;
  display: flex;
  justify-content: center;
}

.header h1 {
  color: red;
  /*margin: 0.4em;*/
}

.slider {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

input[type='radio'] {
  display: none;
}

label {
  cursor: pointer;
  text-decoration: none;
}

.slides {
  padding: 0.4em;
  background: #777;
  position: relative;
  z-index: 1;
}

.slides-helper {
  width: 100%;
  overflow: hidden;
}

.slide {
  margin-top: 2.5em;
}

.slide-img img {
  box-shadow: 0 0 30px 10px #000;
  max-width: 100%;
}

.slide-text {
  margin-top: 2em;
  text-align: left;
  color: #000;
}

#slide1:checked ~ .slides .slides-wrapper {
  margin-left: 0;
}
#slide2:checked ~ .slides .slides-wrapper {
  margin-left: -100%;
}
#slide3:checked ~ .slides .slides-wrapper {
  margin-left: -200%;
}
#slide4:checked ~ .slides .slides-wrapper {
  margin-left: -300%;
}
.slides-wrapper {
  transition: margin-left 0.5s linear;
  width: 400%;
}

.slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#bullet {
  text-align: right;
  z-index: 2;
  position: relative;
  top: -50px;
  background: #777;
  width: 200px;
  margin-right: 20px;
}

label {
  /*box-sizing: border-box;*/
  justify-content: center;
  align-self: center;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  /*border-radius: 100%;
  border: 3px #2986f0 solid;
  background: #2986f0;*/
}

label:hover {
  /*transition: 1.2s;
  border: 3px #fff solid;
  background: #fff;*/
}

#slide1:checked ~ #bullet label:nth-child(1),
#slide2:checked ~ #bullet label:nth-child(2),
#slide3:checked ~ #bullet label:nth-child(3),
#slide4:checked ~ #bullet label:nth-child(4) {
  /*border: 3px #2986f0 solid;
  background: #2f2e2e;*/
}

#slide1:checked:hover ~ #bullet label:nth-child(1),
#slide2:checked:hover ~ #bullet label:nth-child(2),
#slide3:checked:hover ~ #bullet label:nth-child(3),
#slide4:checked:hover ~ #bullet label:nth-child(4) {
  border: 3px #fff solid;
}

.bullet {
  margin: 10px;
  border: 3px #2986f0 solid;
  background: #2986f0;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transition: 1s;
}

.bullet:hover {
  background: #fff;
  border: 3px #fff solid;
}
